<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/goaler.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ajaxfileupload.js"></script>
<script type="text/javascript">

//===========================图片上传===================================
function doImg(obj){
	
	 $.ajaxFileUpload
     (
         {
             url: '__APP__/Home/File/mangeUpload', //用于文件上传的服务器端请求地址
             type: 'post',
             data: { fileId: 'file1', name: 'lunis' }, //此参数非常严谨，写错一个引号都不行
             secureuri: false, //一般设置为false
             fileElementId: 'file1', //文件上传空间的id属性  <input type="file" id="file1" name="file1" />
             dataType: 'text', //返回值类型 一般设置为json
             success: function (data, status)  //服务器成功响应处理函数
             {
                var name=data.name;
                var url=data.url;
                
            	$('#imgId').attr('src',url);
	            $('#img').attr('value',name);
	            $('#imgurl').attr('value',url);
             },
             error: function (data, status, e)//服务器响应失败处理函数
             {
                 alert(e);
             }
         }
     );
    // $('#form1').attr('action','__URL__/upload');
    // $('#form1').submit();
}

//删除附件
function delDiv(obj){
	$(obj).parent().find('#imgId').attr('src','');
	$(obj).parent().find('#img').attr('value','');
	$(obj).parent().find('#imgurl').attr('value','');
}

//保存数据
function sub(){
	
	$('#form1').submit();
}

</script>
</head>
<body style="overflow: auto;">
<div id="div_right">
	<div class="right_top">
					<span>{$type}</span>
				</div>
				<div class="title">
					<a href="javascript:sub()"  class="btn btn-green">保存</a> 
					<a href="javascript:history.back();" class="btn btn-default"  >返回</a>
				</div>
				
		<div class="develop">
		<form action="{$experts==null?'__URL__/insert':'__URL__/update'}"  id="form1" method="post">
		   
		   <input type="hidden" name="id" value="{$experts.id}" />
		   <input type="hidden" name="type" value="{$type}" />
		   
		   <table width="100%" border="0" class="mtable" >
		    <tr>
		    	<td align="right">图片</td>
		    	<td colspan="3">
		    		<div>
		    		<input type="file" id="file1" name="file1" onchange="doImg(this)" />
		    		<img id="imgId" alt="" src="{$experts.imgurl}" style="width: 160px;height: 90px" >
		    		 <a href="javascript:#" id="del" onclick="delDiv(this)"><img src="__PUBLIC__/images/remove.png" /></a>
		    		<br><input type="hidden" size="80" id="imgurl" name="imgurl" value="{$experts.imgurl}" />
		            </div>
		    	</td>
		    </tr>
		    <tr>
		    	<td align="right" width="20%">姓名</td>
		    	<td width="30%"><input type="text" id="name" name="name" value="{$experts.name}" /></td>
		        <td align="right">职位</td>
		    	<td ><input type="text"  id="position" name="position" value="{$experts.position}" /></td> </tr>		    
		    <tr>
		    	<td align="right">资格证号</td>
		    	<td ><input type="text"  id="code" name="code" value="{$experts.code}" /></td>
		    	<td align="right">星级</td>
		    	<td >
		    		<select id="star" name="star">
		    			<option value="★☆☆☆☆" <eq name="experts.star" value="★☆☆☆☆">selected</eq> >一星</option>
		    			<option value="★★☆☆☆" <eq name="experts.star" value="★★☆☆☆">selected</eq> >二星</option>
		    			<option value="★★★☆☆" <eq name="experts.star" value="★★★☆☆">selected</eq> >三星</option>
		    			<option value="★★★★☆" <eq name="experts.star" value="★★★★☆">selected</eq> >四星</option>
		    			<option value="★★★★★" <eq name="experts.star" value="★★★★★">selected</eq> >五星</option>
		    		</select>
		    		
		    		
		    	</td>
		    </tr>
		    
		    <tr>
		    	<td align="right">个人简介</td>
		    	<td colspan="3">
		    		<textarea id="introduce" name="introduce" cols="30" rows="3">{$experts.introduce}</textarea>
		    	</td>
		    </tr>
		  
		    
		   </table> 
		</form>
		</div>
		
</div>
</body>
</html>