<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台管理系统</title>
</head>
<frameset rows="65,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="__URL__/top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="197,*" frameborder="no" border="0" framespacing="0">
    <frame src="__URL__/left" name="leftFrame" scrolling="auto" noresize="noresize" id="leftFrame" title="leftFrame" />
    <frame src="__URL__/right" name="mainFrame" scrolling="auto" id="mainFrame" title="mainFrame" />
  </frameset>
</frameset>
<noframes>
<body>
</body>
</noframes>
</html>