<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="__PUBLIC__/res/favicon.ico" type="image/x-icon">
	<title>专家解盘</title>
	<link rel="stylesheet" href="__PUBLIC__/zzcss/base.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/zzcss/columns.css" type="text/css" />
</head>

<body>

 <!-- 固定条 -->
   <include file="Public/top" />

    <!-- 固定条 -->
   <include file="Public/bar" />


<div id="container"> 
   <div class="content_title"><a href="__APP__/Home/Index/index">首页</a>　>　<span><a href="__APP__/Home/Index/experts">专家解盘</a></span></div>   
   <div class="sub-banner">
    	<a href="{$link.action}"><img src="{$link.imgurl}" width="1024" height="100" /></a>
    </div>
   <div class="content">
   		<div class="content-left border">
             <ul class="column li02">    
             	
             	
             	<foreach name="videoList" item="vo" >        	    
    <li><a class="name" href="__APP__/Home/Index/experts_introduce?id={$vo.id}">[{$vo.experts_name}]</a>
   	    <a href="__APP__/Home/Index/video_show?id={$vo.id}">{$vo.name}</a><span>{$vo.intime}</span>
   	</li>    		    
                    </foreach>                                           
                        <!-- <li><a class="name" href="experts-introduce.html">[柳传志]</a><a href="video-show.html">柳传志谈柳青柳甄投奔专车：纯属偶然 跟我没关系</a><span>2015-07-16</span></li>
                        <li><a class="name" href="experts-introduce.html">[柳传志]</a><a href="video-show.html">柳传志：做"老大哥" 不是"带头大哥"</a><span>2015-07-15</span></li>
                        <li><a class="name" href="experts-introduce.html">[李书福]</a><a href="video-show.html">李书福：沃尔沃是与谷歌和特斯拉抗衡的第三股力量</a><span>2015-07-15</span></li>
                        <li><a class="name" href="experts-introduce.html">[李嘉诚]</a><a href="video-show.html">李嘉诚：学会投资 年存1.4万变亿万富翁</a><span>2015-07-15</span></li>
                        
                        <li><a class="name" href="experts-introduce.html">[张近东]</a><a href="video-show.html">张近东：互联网+零售就是O2O</a><span>2015-07-15</span></li>
                        <li><a class="name" href="experts-introduce.html">[张近东]</a><a href="video-show.html">李克强对话张近东：你给我们带来了好消息</a><span>2015-07-15</span></li>
                        <li><a class="name" href="experts-introduce.html">[李彦宏]</a><a href="video-show.html">李彦宏"中国大脑"提案落地 人工智能或成国家战略</a><span>2015-07-14</span></li>
                        <li><a class="name" href="experts-introduce.html">[柳传志]</a><a href="video-show.html">柳传志式谦卑：一代民营企业家的成功之道</a><span>2015-07-14</span></li>
                        <li><a class="name" href="experts-introduce.html">[王石]</a><a href="video-show.html">王石:万科已轻资产化 住宅开发已成现金牛业务</a><span>2015-07-14</span></li>
                        
                        <li><a class="name" href="experts-introduce.html">[李彦宏]</a><a href="video-show.html">李彦宏放"壕"言:有500多亿现金 拿200亿做糯米</a><span>2015-07-14</span></li>
                        <li><a class="name" href="experts-introduce.html">[唐骏]</a><a href="video-show.html">唐骏：牛市没结束 股市应暂缓推出注册制</a><span>2015-07-13</span></li>
                        <li><a class="name" href="experts-introduce.html">[冯仑]</a><a href="video-show.html">万通地产告别冯仑 着力京津冀地产效果未知</a><span>2015-07-13</span></li>
                        <li><a class="name" href="experts-introduce.html">[潘石屹]</a><a href="video-show.html">潘石屹300亿身家背后：成功源自"能折腾"</a><span>2015-07-13</span></li>
                        <li><a class="name" href="experts-introduce.html">[李书福]</a><a href="video-show.html">2.8亿冰岛买甲醇 李书福意在燃料电池？</a><span>2015-07-13</span></li>
                        
                        <li><a class="name" href="experts-introduce.html">[郭广昌]</a><a href="video-show.html">郭广昌：恐慌市场机会更多 有些股票2000点也不能买</a><span>2015-07-13</span></li>
                        <li><a class="name" href="experts-introduce.html">[柳传志]</a><a href="video-show.html">柳传志：做事有小成 感谢命运眷顾</a><span>2015-07-13</span></li>
                        <li><a class="name" href="experts-introduce.html">[王石]</a><a href="video-show.html">王石川：思危已逝，谁来思危？</a><span>2015-07-12</span></li>
                        <li><a class="name" href="experts-introduce.html">[任志强]</a><a href="video-show.html">任志强谈巴菲特模式：当老婆不能当小三</a><span>2015-07-12</span></li>
                        <li><a class="name" href="experts-introduce.html">[任志强]</a><a href="video-show.html">中国房地产业协会副会长任志强</a><span>2015-07-12</span></li>
                        
                        <li><a class="name" href="experts-introduce.html">[郭广昌]</a><a href="video-show.html">郭广昌：恐慌的市场里机会更多</a><span>2015-07-12</span></li>
                        <li><a class="name" href="experts-introduce.html">[郭广昌]</a><a href="video-show.html">郭广昌谈A股：政府若不出手就会出现更恐慌局面</a><span>2015-07-12</span></li>
                        <li><a class="name" href="experts-introduce.html">[任志强]</a><a href="video-show.html">任志强：做股东要有当老婆思想 不能当小三套现就跑</a><span>2015-07-11</span></li>
                        <li><a class="name" href="experts-introduce.html">[张近东]</a><a href="video-show.html">张近东：人才是宝贵财富 苏宁云商再推10亿元员工持股计划</a><span>2015-07-11</span></li>
                        <li><a class="name" href="experts-introduce.html">[项俊波]</a><a href="video-show.html">省林业厅办公室关于印发《2015年湖北省林业普法依法…</a><span>2013-04-08</span></li>
                 -->
                </ul> 
            <div class='Page'>
            	{$page}
                <!-- <a href='#' title='首页'>首页</a>
                <a href='#' title='上一页'>上一页</a>
                <a href='#' class='active'>1</a>
                <a href='#'>2</a>
                <a href='#'>3</a>
                <a href='#' title='下一页'>下一页</a>
                <a href='#' title='末页'>末页</a> -->
            </div>
        </div>
   		<div class="content-right-side">
              <div class="title"><span>专家</span></div>
              <ul> 
              	
              	<foreach name="expertsList" item="vo" >              		              			
              		   <li><a href="__APP__/Home/Index/experts_introduce?id={$vo.id}">{$vo.name}</a></li>             		
              	</foreach>
              	
                    <!-- <li><a href="famous-introduce.html">史玉柱</a></li>
                    <li><a href="famous-introduce.html">马蔚华</a></li>
                    <li><a href="famous-introduce.html">柳传志</a></li>
                    <li><a href="famous-introduce.html">郭台铭</a></li>
                    <li><a href="famous-introduce.html">冯仑</a></li>
                    <li><a href="famous-introduce.html">唐双宁</a></li>
                    <li><a href="famous-introduce.html">李书福</a></li>
                    <li><a href="famous-introduce.html">张近东</a></li>
                    <li><a href="famous-introduce.html">唐骏</a></li>
                    <li><a href="famous-introduce.html">马化腾</a></li>
                    <li><a href="famous-introduce.html">宗庆后</a></li>
                    <li><a href="famous-introduce.html">陈天桥</a></li>
                    <li><a href="famous-introduce.html">李彦宏</a></li>
                    <li><a href="famous-introduce.html">王传福</a></li>
                    <li><a href="famous-introduce.html">郭广昌</a></li>
                    <li><a href="famous-introduce.html">马明哲</a></li>
                    <li><a href="famous-introduce.html">李嘉诚</a></li>
                    <li><a href="famous-introduce.html">王石</a></li>
                    <li><a href="famous-introduce.html">潘石屹</a></li>
                    <li><a href="famous-introduce.html">任志强</a></li>
                    <li><a href="famous-introduce.html">黄光裕</a></li> -->
              </ul>
          </div>
   </div>
</div>


   <!-- 固定条 -->
   <include file="Public/foot" />

</body>
</html>
