<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>中证财讯通-绩效回顾</title>
	<link rel="stylesheet" href="__PUBLIC__/cxtcss/style.css" type="text/css" />
</head>

<body>
<div id="container"> 
	<div class="ordinary">
           
<table class="mtable">
  <tr>
    <th>变更时间</th>
    <th>股票类型</th>
    <th>股票代码</th>
    <th>公司名</th>
    <th>操盘评级</th>
    <th>当前操作评级</th>
    <th>历史评级</th>
    <th>状态变更</th>
  </tr>
  
  <foreach name="list" item="vo">
  	
              <tr>       
                                <td>{$vo.change_date}</td> 
						         <td>{$vo.type}</td>
						         <td>{$vo.code}</td>
						         <td>{$vo.company}</td>
						         <td>{$vo.cmd_rate}</td>
						         <td>{$vo.now_cmd_rate}</td>
						         <td>{$vo.history_rate}</td>
				                 <td>{$vo.status_change}</td>		
                </tr>
  </foreach>
  
</table>
 {$page}
<!-- <table class="mtable">
  <tr>
    <th>变更时间</th>
    <th>股票代码</th>
    <th>公司名</th>
    <th>操盘评级</th>
    <th>当前操作评级</th>
    <th>历史评级</th>
    <th>状态变更</th>
  </tr>
  <tr>       
    <td>2015-12-25</td>
    <td>002199</td>
    <td>东晶电子</td>
    <td>&nbsp;</td>
    <td>E</td>
    <td>查看</td>
    <td>维持仓位</td>
  </tr>
  <tr>       
    <td>2015-12-25</td>
    <td>002199</td>
    <td>东晶电子</td>
    <td>&nbsp;</td>
    <td>E</td>
    <td>查看</td>
    <td>维持仓位</td>
  </tr>
</table> -->

   </div>
</div>
</body>
</html>
