<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>中证财讯通</title>
	<link rel="stylesheet" href="__PUBLIC__/cxtcss/style.css" type="text/css" />
</head>

<body>
<div id="container"> 
   <div class="content_title"><a href="__APP__/Home/Index/index">首页</a>　>　<a href="__APP__/Client/Index/news?type={$news.type}">{$news.type}</a>　>　<span>正文</span></div>   
   <div class="content">
   	
   	       <notin name="news.type" value="中证投资内参,中证投资锦囊,中证独家调研">
               <div class="show">
                    <div class="show-title">
                       <h1>{$news.title|mb_substr=0,20,'utf-8'}</h1>
                       <h5>{$news.source} {$news.author} {$news.intime}</h5>
                    </div>
                    
                      {$news.content}              
               </div>
           </notin>
               
           <in name="news.type" value="中证投资内参,中证投资锦囊,中证独家调研">    
               <div class="show02">
                    <div class="show-title">
                        <h3>{$news.subject}</h3>
                        <span>{$news.intime}</span>
                    	<img src="__PUBLIC__/images/show-tg.png" class="show-tg" />
                    </div>
                    <div class="show02-con">
                    	<div><strong style="color:#000;">影响事件：</strong></div>
                        {$news.content} 
                    </div>
                    <div class="show02-judge">{$news.pingduan}</div>
                    <div class="show02-stock">
                    	<strong style="color:#666;">影响个股：</strong>
                    	{$news.gegu}
                    </div>
               </div>
             </in> 
               
 <div id="div_attachment">
					
		 <!-- 如果有附件就显示 -->	     
	<notempty name="news.attachmenturl">
		附件：
		  <foreach name="attachmenturlArr" item="vo" key="k">   
		     <div>	      
		       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		       <a href="__APP__/Home/File/download?file_name={$attachmentArr[$k]}&file_path={:C("LOCAL_UPLOAD")}{$vo}" >{$attachmentArr[$k]}</a>
		       
		     </div>	   
		  </foreach>
	</notempty>
		    		  
</div>  
               
               <div class="related">
                  <div class="sub_title">相关新闻</div>
                    <ul class="column">          
                    	
                    <foreach name="newsList" item="vo">
                	 	  <li><a href="__APP__/Client/Index/show?id={$vo.id}">{$vo.title|mb_substr=0,18,'utf-8'}</a></li> 
                	 </foreach>                                                            
                            <!-- <li><a href="show.html">保发展 保红线 保民生 为促进黄石经济……</a></li>   
                            <li><a href="show.html">为项目落地当好"马前卒"———访局长吴风雨</a></li>   
                            <li><a href="show.html">黄石部门奋力破解资源枯竭难题</a></li>   
                            <li><a href="show.html">黄石"三园一带"开发建设的思考</a></li>   
                            <li><a href="show.html">吴风雨局长接受十一五工作回顾访谈</a></li>
                         
                            <li><a href="show.html">为项目落地当好"马前卒"———访局长吴风雨</a></li>   
                            <li><a href="show.html">黄石部门奋力破解资源枯竭难题</a></li>   
                            <li><a href="show.html">黄石"三园一带"开发建设的思考</a></li>   
                            <li><a href="show.html">吴风雨局长接受十一五工作回顾访谈</a></li>
                            <li><a href="show.html">吴风雨局长接受十一五工作回顾访谈</a></li> -->
                    </ul>
              </div>
            
       </div>
</div>

</body>
</html>
