<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>中证财讯通</title>
	<link rel="stylesheet" href="__PUBLIC__/cxtcss/style.css" type="text/css" />
</head>

<body>
<div id="container"> 
   <div class="sub-banner">
    	<a href="#"><img src="__PUBLIC__/images/1.jpg" width="950" height="100" /></a>
    </div>
   <div class="content">
   		<div class="content-list">
            <ul class="column">    
            	
            	<foreach name="newsList" item="vo">
            		 <li><a href="__APP__/Client/Index/show?id={$vo.id}">{$vo.title}</a><span>{$vo.intime}</span></li> 
            	</foreach>                                           
            </ul>
            <div class='Page'>
                {$page}
            </div>
        </div>
   		<div class="content-right w233">
        <!--搜索模块开始-->
       		 <div class="title"><h4 style="text-indent:0em;"><img src="../images/search.png" /> 文章搜索</h4></div>
             <div class="search">
             <table>
                <tr>
                    <td class="text-right">关键字</td>
                    <td><input id="keyword" name="keyword" type="text" class="infoInput"/></td>
                </tr>
                <tr>
                    <td class="text-right">分类</td>
                    <td>
                        <select size="1" name="tid" class="select" id="tid">
                            <option value="product1.html"> 标题</option>
                            <option value="product2.html"> 文章内容</option>
                        </select>
                    </td>
                </tr>
               <tr>
                    <td></td>
                    <td><input name="submitsearch" type="submit" class="buttonface" value="开始搜索" /></td>
                </tr>
            </table>
             </div>
        <!--搜索模块结束-->
        
       		 <div class="title"><h4>中证介绍</h4></div>
             <div class="side-about">
              <p>{$document.content}</p>
             </div>
             
       		 <div class="title"><h4><a href="__APP__/Client/Index/fxs">中证分析师</a></h4></div>
        	<div class="experts">
        		
        			<foreach name="expertsList" item="vo">
        			<div class="index-experts">
                    	<div class="e-01">
                            <div class="e-object">
                                <img src="{$vo.imgurl}" />
                            </div>
                            <div class="e-name">{$vo.name}</div>
                             <div class="e-lable">{$vo.introduce}<a href="__APP__/Client/Index/experts_introduce?id={$vo.id}">[详细]</a></div>
                        	 <div class="e-star">星级：<span>{$vo.star}</span></div>
                         </div>
                    </div>
        		</foreach>
          </div>
        
        </div>
   </div>
</div>
</body>
</html>
