<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>中证财讯网</title>
	<link rel="stylesheet" href="__PUBLIC__/zzcss/base.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/zzcss/columns.css" type="text/css" />
    <style>
		.client { margin-top:50px; overflow:hidden;}
    	.client li{text-align:center; float:left; height:327px;width:410px; border:2px solid #999; overflow:hidden; padding:50px 0; margin:0 40px;}
		.client li .client-logo{ float:left; margin:60px 26px 0 28px;}
		.client li p{ float:left;}
    </style>
</head>

<body>
    <!-- 固定条 -->
   <include file="Public/top" />

    <!-- 固定条 -->
   <include file="Public/bar" />

<div id="container" style=" padding:50px;"> 
	<h1 style="text-align:center; color:#1298DF;">中证财讯客户端</h1>
    <ul class="client">
        <li>
            <img src="__PUBLIC__/images/az.png" class="client-logo" />
            <p>
            <img src="__PUBLIC__/images/ewm.png" /><br/><br/><br/><br/>
            <a href="http://cxcxt.com/Public/res/cxt.apk"><img src="__PUBLIC__/images/downlaod.png" /></a>
            </p>
        </li>
        <li>
            <img src="__PUBLIC__/images/pg.png" class="client-logo" />
            <p>
            <img src="__PUBLIC__/images/pgewm.png" /><br/><br/><br/><br/>
            <!-- <a href="#"><img src="__PUBLIC__/images/downlaod.png" /></a> -->
            </p>
        </li>
    </ul>
</div>

    <!-- 固定条 -->
   <include file="Public/foot" />

</body>
</html>
