<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/goaler.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ajaxfileupload.js"></script>
 <script type="text/javascript" src="__PUBLIC__/js/prototype.js"></script>
<script type="text/javascript">

</script>
</head>
<body style="overflow: auto;">
<div id="div_right">
	<div class="right_top">
					<span>直播记录</span>
				</div>
				<div class="title">
					<a href="javascript:history.back();" class="btn btn-default"  >返回</a>
				</div>
				
		<div class="develop">
		
		   <table width="100%" border="0" class="mtable" >
		   
		   <tr>
		   	<td align="right" width="20%">直播间</td>
		   	<td style="height: 450px">
		   		
		   		
		   			<div id="content" style="height: 450px;overflow: auto">
                       
                       <foreach name="spzzList" item="vo">                    
                       	        <div class="spzzitems">
									<h2>{$vo.title}</h2>
									<p>{$vo.word}</p>
									<span class="fr">{$vo.intime}</span>
								</div>
                       </foreach>
                       
                    </div>
		   		
		   	</td>
		   </tr>
		    <!-- <tr>
		    	<td align="right" width="20%">发送内容</td>
		    	<td width="80%" >
		    		<input size="80" type="text" id="word" name="word" value="{$keyword.name}" onkeydown="if(event.keyCode==13)sendData();" />
		    		<input type="button" value="发送" onclick="sendData()" />
		    	</td>
		     </tr> -->
		    
		   </table> 
	
	     </div>
		
</div>
</body>
</html>