<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/goaler.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	
});


function sub(){
	
	var checked = checkForm('#form1');
	if(checked==false){
		return;
	}
	$('#form1').submit();
}

</script>
</head>
<body style="overflow: auto;">
<div id="div_right">
	<div class="right_top">
					<span>账户管理</span>
				</div>
				<div class="title">
					<a href="javascript:sub()"  class="btn btn-green">保存</a> 
					<a href="javascript:history.back();" class="btn btn-default"  >返回</a>
				</div>
				
		<div class="develop">
		<form action="{$user==null?'__URL__/insert':'__URL__/update'}"  id="form1" method="post">
		   
		   <input type="hidden" name="id" value="{$user.id}" />
		   <table width="100%" border="0" class="mtable" >
		   <tr>
		   <td align="right" >账户：</td>
		   <td >
		   <input type="text" id="username" name="username"  want="yes" title="账户" value="{$user.username}"
		    <if condition="$user!=null">readOnly</if>
		   >
		   <font color="red">*</font>
		   </td>
		   </tr>
		   <tr>
		   <td align="right" >中文名：</td>
		   <td >
		   <input type="text" id="cnname" name="cnname"  want="yes" title="中文名" value="{$user.cnname}">
		   <font color="red">*</font>
		   </td>
		   </tr>
		   <tr>
		   <td align="right" >部门：</td>
		   <td >
		   <input type="text" id="dept" name="dept"  want="yes" title="部门" value="{$user.dept}">
		   <font color="red">*</font>
		   </td>
		   </tr>
		   
		   
		   <if condition="$user==null">
		   <tr>
		   <td align="right" >密码：</td>
		   <td >
		   <input type="password" id="password" name="password" value="" want="yes" title="密码" >
		   <font color="red">*</font>
		   </td>
		   </tr>
		   <!--
		   <tr>
		   <td align="right" >确认密码：</td>
		   <td >
		   <input type="password" id="verifyPwd" name="verifyPwd" value="" want="yes" title="确认密码"  >
		   <font color="red">*</font>
		   </td>
		   </tr>
		   	 -->
		   </if>
		   </table>
		</form>
		</div>
		
</div>
</body>
</html>